{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2 style="text-align: center; color: white;">{{ search | title }} </h2>
    {%if def != None %}
    <div class="alert alert-dismissible alert-warning">
        <p class="mb-0" style="color: white;text-align: center;">{{ def | title }}</p>
    </div>
    {% endif %}
    <div class="row">
        {% for post in finalData %}
        <div class="col s4">
            <div class="card" style="background-color: #f25613">
                <a href={{post.6}}>
                    <div class="card-content style:center">
                        <p><i class="material-icons dp48">collections_bookmark</i>{{ post.1 }} | {{post.0}}</p>
                    </div>
                    <div class="card-action">
                        <p>Description: {{ post.2 }}</p>
                        <p>Topics: {{ post.3 }}</p>
                        <p>Stars: {{ post.4 }}</p>
                        <p>Language: {{post.5}}</p>

                    </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}

