{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2 style="text-align: center">{{ search | title }}</h2>
    <div class="row">
        {% for post in finalData %}
            <div class="col s4">
                <div class="card">
                    <div class="card-content style:center">
                         <p><i class="material-icons dp48">collections_bookmark</i>{{ post.1 }} | {{post.0}}</p>
                    </div>
                    <div class="card-action">
                        <p>Description: {{ post.2 }}</p>
                        <p>Topics: {{ post.3 }}</p>
                        <p>Stars: {{ post.4 }}</p>
                        <p>Language: {{post.5}}</p>
                        <div class="icon preview s4 style: center">
                                            {% csrf_token %}
                            <a href={{post.6}}>
                        <i class="medium material-icons ">link</i>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    </div>
{% endblock content %}

