{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Git Crawler</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<nav style=" background-color: rgb(57, 119, 203);">
    <div class="container nav-wrapperr">
        <a href="/" class="brand-logo">Git Repositories Crawler</a>
        <ul id="nav-mobile" class="right">
            <li><a href="/">Home</a></li>
            <li><a href="/detailed_search">Detailed Search</a></li>
            <li><a href="/detailed_search">Detailed Search</a></li>
             {%if user.is_authenticated %}
        Welcome {{ user.username }}!
       <li><a href="{% url 'logout' %}">Logout</a></li>
    {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{%url 'register' %}">Sign up</a></li>
    {% endif %}
        </ul>
    </div>
</nav>
    {% block content %}

    {% endblock content%}
</div>
    {%include 'parts/footer.html'%}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
</body>

</html>