{% load static %}

<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Git Crawler</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

	<div class="section over-hide z-bigger">
		<input class="checkbox" type="checkbox" name="general" id="general">
		<label class="for-checkbox" for="general"></label>
		<div class="background-color"></div>
		<div class="section over-hide z-bigger">
        {%include 'parts/navbar.html'%}

            {% block content %}

            {% endblock content%}

        </div>
    </div>
</div>

</body>

</html>