{% extends 'base.html'%} {% load static %} {% block content %}
<div class="section over-hide z-bigger">
    <div class="container" style="min=height:100%">

        <h1 style="text-align: center; color:white">What do you want to search</h1>
        <div class="row">
            <div class="col s4">
                <div class="center">
                    <i class="large material-icons" style="color: #EE6E73">flash_on</i>
                    <p style=" color: white" >Fastest repository scarper</p>
                    <p class style=" color: white" ="light center">Scrape away right here with a beautiful GUI</p>
                </div>
            </div>

            <div class="col s4">
                <div class="center">
                    <i class="large material-icons" style="color: orange">camera</i>
                    <p style=" color: white">Filter your searches</p>
                    <p style=" color: white" class="light center">We built in functionality yo filter based on popularity</p>
                </div>
            </div>

            <div class="col s4">
                <div class="center">
                    <i class="large material-icons" style="color: blue"> chrome_reader_mode</i>
                    <p style=" color: white">A lot of content where you can search</p>
                    <p style=" color: white" class="light center">Made for programmers by programmers</p>
                </div>

            </div>
        </div>

        <nav style=" background-color: rgb(57, 119, 203);">
            <div class="nav-wrapper">
                <form action="{% url 'newSearch' %}" method="post">
                    {% csrf_token %}
                    <div class="input-field">
                        <input id="search" type="search" name="search" placeholder="search" required>
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                        <center>
                    </div>
            </div>
        </nav>
        <p></p>
        <button class="button pulse" type="submit">
            Submit
            </>
            </form>

    </div>
</div>
{% endblock content%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />