{% load static %}
<footer class="page-footer" style=" background-color: rgb(57, 119, 203); margin-top:25%" width: 100vw; >
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Git Repositories Crawler</h5>
                <p class="grey-text text-lighten-4">A simple git repositories crawler</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Social media Link</h5>
                <ul>
                    <li><a href="https://github.com/Aleonor1">GitHub</a></li>
                    <li><a href="https://www.linkedin.com/in/aleonor-nyikita-69a777161/">Linkedin</a></li>
                    <li><a href="https://www.facebook.com/aleodorapollo">Facebook</a></li>
                    <li><a href="Mail">aleonornyikita@gmail.com</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2020 Copyright Text
            <!--    <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
        </div>
    </div>
</footer>